/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    padding: 10px 20px;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 20px;
    color:black;
    cursor: pointer;
  }
  
  .navbar-right {
    display: flex;
  }
  
  .navbar-link {
    text-decoration: none;
    color:black;
    margin-right: 20px;
    font-size: 1.2rem;
    font-weight:400;
    padding: 10px;
    text-transform: capitalize;
    cursor: pointer;
  }
  